# Outbound CID
SMOL_CID=John Doe <1234>

# Username (same as extension number) and password on PBX side
SMOL_PBX_USERNAME=1234
SMOL_PBX_PASSWORD=my-super-secret-pbx-password

# Local Asterisk username and password for your phone
SMOL_LOCAL_USERNAME=100
SMOL_LOCAL_PASSWORD=my-less-secret-password-for-local-phone