# Outbound CID
SMOL_CID=John Doe <1234>

# Username (same as extension number) and password on PBX side
SMOL_PBX_USERNAME=1234
SMOL_PBX_PASSWORD=my-super-secret-pbx-password

# Local Asterisk username and password for your phone
SMOL_LOCAL_USERNAME=100
SMOL_LOCAL_PASSWORD=my-less-secret-password-for-local-phone

# WireGuard tunnel to sip.bksp.in
WG_LOCAL_IP=fd91:652e:271a:e164:100c::1312/64

# This peer's WireGuard private key (generate with: wg genkey)
WG_PRIVATE_KEY=

# Pre-shared key shared with the remote peer (generate with: wg genpsk)
WG_PSK=